<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-content">
                  <div class="service-icon">
                      <i class="fa fa-globe"></i>
                  </div>
                    <h3 class="title">Web Design</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                    </p>
                </div>
                <a class="read-more" href="">Read More</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="serviceBox green">
              <div class="service-content">
                <div class="service-icon">
                    <i class="fa fa-users"></i>
                </div>
                  <h3 class="title">Web Development</h3>
                  <p class="description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                  </p>
              </div>
              <a class="read-more" href="">Read More</a>
          </div>
        </div>
    </div>
  </div>