.form-bg {
    background: #e4e6e6;
}

.form-bg {
    font-family: 'Kanit', sans-serif !important;
}

.form-horizontal .header {
    background: #3f9cb5;
    padding: 13px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

.form-horizontal .heading {
    font-size: 16px;
    color: #3f9cb5;
    margin: 10px 0 20px 0;
    text-transform: capitalize;
}

.form-horizontal .form-content {
    padding: 25px;
    background: #fff;
}

.form-horizontal .form-control {
    padding: 12px 16px 12px 39px;
    height: 50px;
    font-size: 14px;
    color: #2b2a2a;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

.form-horizontal .form-control:focus {
    border-color: #3f9cb5;
    box-shadow: none;
}

.form-horizontal .control-label {
    font-size: 17px;
    color: #ccc;
    position: absolute;
    top: 5px;
    /* left: 27px; */
    text-align: center;
}

.form-horizontal textarea.form-control {
    resize: vertical;
    height: 130px;
}

.form-horizontal .btn {
    font-size: 18px;
    color: #4e4e4e;
    float: right;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 0;
    padding: 10px 25px;
    transition: all 0.5s ease 0s;
}

.form-horizontal .btn:hover {
    background: #fff;
    border-color: #3f9cb5;
}


/* .btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fe6d6d;
    border-radius: 0;
    position: relative;
}

.btn:hover {
    color: #fe6d6d;
}

.btn:after {
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid #fe6d6d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease 0s, height 0.2s ease 0.1s, border-top-width 0.1s ease 0.2s, margin 0.2s ease 0s;
}

.btn:hover:after {
    width: 60%;
    height: 0;
    border-width: 0 2px 2px;
    margin: 0 20%;
    transition: width 0.2s ease 0.2s, height 0.2s ease 0.1s, border-top-width 0.1s ease 0s, margin 0.2s ease 0.2s;
}

.btn.blue,
.btn.blue:hover {
    color: #22ace3;
}

.btn.blue:after {
    border-color: #22ace3;
}

.btn.orange,
.btn.orange:hover {
    color: #f56f17;
}

.btn.orange:after {
    border-color: #f56f17;
}

.btn.green,
.btn.green:hover {
    color: #47cf77;
}

.btn.green:after {
    border-color: #47cf77;
} */

@media only screen and (max-width: 767px) {
    .btn {
        margin-bottom: 20px;
    }
}


/* Redio button  */

.grad {
    background-image: linear-gradient(to bottom right, #217d96, #217d96);
}

.circle {
    /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
    height: auto;
    /* ความสูงปรับให้เป็นออโต้ */
    width: auto;
    /* ความสูงปรับให้เป็นออโต้ */
    border-radius: 50%;
    /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* เงาของรูป */
}


/* rating */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* uploadfile  */

::-webkit-file-upload-button {
    background-color: #217d96;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 20px;
    margin: 2px 0px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-file-upload-button:hover {
    opacity: 1
}


/* button */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #217d96;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}