.title_text{
  position: absolute;
  top: 30%;
  left: 33%;
  font-size: 22px;
  font-weight: 500;
}


/* test */


.coin {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px 5%;
  transform-style: preserve-3d;
  -webkit-animation: rotate3d 8s linear infinite;
          animation: rotate3d 8s linear infinite;
  transition: all 0.3s;
}

.coin__front,
.coin__back {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #E8D0BB;
}
.coin__front:after,
.coin__back:after {
  content: "";
  position: absolute;
  left: -25px;
  bottom: 100%;
  display: block;
  height: 33.3333333333px;
  width: 100px;
  background: #fff;
  opacity: 0.3;
  -webkit-animation: shine linear 4s infinite;
          animation: shine linear 4s infinite;
}

.coin__front {
  background-image: url("../../../assets/icon/logo.png");
  background-size: cover;
  transform: translateZ(2.5px);
}

.coin__back {
  background-image: url("../../../assets/icon/logo.png");
  background-size: cover;
  transform: translateZ(-2.5px) rotateY(180deg);
}

.coin__edge div:nth-child(1) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #51341b;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(102deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(2) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #714926;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(114deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(3) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #8e5c30;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(126deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(4) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #aa6e39;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(138deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(5) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #c07e44;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(150deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(6) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #c88e5b;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(162deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(7) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #ce9c6f;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(174deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(8) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #d4a881;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(186deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(9) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #dab290;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(198deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(10) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #debc9d;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(210deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(11) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e2c3a8;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(222deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(12) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e4c9b0;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(234deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(13) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e6cdb6;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(246deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(14) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e8cfba;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(258deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(15) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e8d0bb;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(270deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(16) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e8cfba;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(282deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(17) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e6cdb6;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(294deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(18) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e4c9b0;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(306deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(19) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #e2c3a8;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(318deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(20) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #debc9d;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(330deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(21) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #dab290;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(342deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(22) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #d4a881;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(354deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(23) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #ce9c6f;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(366deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(24) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #c88e5b;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(378deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(25) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #c07e44;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(390deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(26) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #aa6e39;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(402deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(27) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #8e5c30;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(414deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(28) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #714926;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(426deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(29) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #51341b;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(438deg) translateX(25px) rotateY(90deg);
}
.coin__edge div:nth-child(30) {
  position: absolute;
  height: 5.2333333333px;
  width: 5px;
  background: #2e1e10;
  transform: translateY(22.3833333333px) translateX(22.5px) rotateZ(450deg) translateX(25px) rotateY(90deg);
}

.coin__shadow {
  position: absolute;
  width: 50px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 25px 25px #000;
  opacity: 0.125;
  transform: rotateX(90deg) translateZ(-55px) scale(0.5);
}

@-webkit-keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
@-webkit-keyframes shine {
  0%, 15% {
    transform: translateY(100px) rotate(-40deg);
  }
  50% {
    transform: translateY(-50px) rotate(-40deg);
  }
}
@keyframes shine {
  0%, 15% {
    transform: translateY(100px) rotate(-40deg);
  }
  50% {
    transform: translateY(-50px) rotate(-40deg);
  }
}
