<nav class="navbar navbar-expand-lg navbar-dark grad">
    <a class="navbar-brand w-50" href="/Search{{qr}}">
        <span class="">
            <img class="mr-3" src="../assets/icon/iconback.png" />
            <img class="w-25 circle" src="../assets/icon/logo.png" />
        </span> CLINIC TRACKING
    </a>


</nav>

<div class="container">
    <!-- <h2>Hi {{ResultSearch}}</h2> -->

    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="year animated zoomInRight">ค้นหาเจอ <span class="animated zoomInRight">{{searchedItems.length}}</span> แห่ง</div>
                <a class="timeline-content wrapper-item animated slideInUp" (click)="goto(item)" *ngFor="let item of searchedItems; index as i">
                    <div class="container animated slideInUp">
                        <div class="row">
                            <div class="col-9">
                                <div class="inner-content">
                                    <h1 class="title text font-weight-bold">{{i+1}} . ชื่อสถานพยาบาล

                                        <span>
                                            <svg  width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building icon-build" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                              </svg>
                                        </span>

                                    </h1>

                                    <div>
                                        <div>
                                            <span class="text-warning">
                                                {{item.clinicname}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span class="icon animated slideInUp"><img class="w-50 circle" src="../assets/icon/logo.png"/></span>

                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
<br>
<!-- <app-googlemap></app-googlemap> -->
