/* *{
    font-family: 'Kanit', sans-serif !important;
} */

.main-timeline {
  overflow: hidden;
  position: relative;
  font-family: 'Kanit', sans-serif !important;
}

.title {
  text-align: left;
  font-size:20px;
}



.main-timeline .timeline:before {
  content: attr(data-heading);
  width: 70px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background: #f1083e;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 3px;
  left: -32px;
}

.main-timeline .timeline:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fae1e4;
  border: 2px solid #3c1525;
  position: absolute;
  bottom: 53px;
  left: -8px;
}

.main-timeline .timeline-content {
  display: block;
  padding: 25px 0px 25px 25px;
  border-radius: 0 70px 70px 0;
  background: #3c1525;
  color: #fff;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-content:before {
  content: "";
  border-bottom: 20px solid transparent;
  border-right: 62px solid #3c1525;
  position: absolute;
  bottom: 14px;
  left: -53px;
  transform: rotate(30deg);
}

.main-timeline .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  /* background: #fff; */
  text-align: center;
  margin: auto;
  font-size: 30px;
  color: #581c22;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
}



.main-timeline .description {
  font-size: 14px;
}

.main-timeline .timeline:nth-child(2n) {
  padding: 50px 50px 10px 50px;
}

.main-timeline .timeline:nth-child(2n):before {
  left: auto;
  right: -40px;
}

.main-timeline .timeline:nth-child(2n):after {
  left: auto;
  right: -10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  border-radius: 70px 0 0 70px;
  padding: 25px 25px 25px 150px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
  border-right: 68px solid #3c1525;
  bottom: 21px;
  left: auto;
  right: -50px;
  transform: rotate(-226deg);
}

.main-timeline .timeline:nth-child(2n) .icon {
  right: auto;
  left: 25px;
}

.main-timeline .timeline:nth-child(2) {
  margin-top: 210px;
}

.main-timeline .timeline:nth-child(odd) {
  margin: -220px 0 50px 0;
}

.main-timeline .timeline:nth-child(even) {
  margin-bottom: 210px;
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even) {
  margin: 0 0 30px 0;
}

.main-timeline .timeline:last-child:nth-child(even) {
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .main-timeline .timeline {
      padding: 50px 0 10px 50px;
  }
  .main-timeline .timeline:nth-child(2n) {
      padding: 50px 50px 10px 0;
  }
  .main-timeline .timeline-content {
      padding: 25px 0px 25px 25px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 25px 25px 25px 130px;
  }
}

@media only screen and (max-width: 990px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(2n) {
      padding-top: 20px;
  }
  .main-timeline .icon {
      right: 0px;
  }
  .main-timeline .timeline:nth-child(2n) .icon {
      left: 15px;
      /* margin-top: -241px; */
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before,
  .main-timeline .timeline:after,
  .main-timeline .timeline .timeline-content:before {
      display: none;
  }
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd) {
      width: 100%;
      float: none;
      padding: 50px 0 0 0;
      margin: 0 0 30px 0;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before {
      left: 0;
      transform: translateX(0);
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 25px 120px 25px 25px;
      border-radius: 0 70px 70px 0;
  }
  .main-timeline .timeline:nth-child(2n) .icon {
      right: 20px;
      left: auto;
  }
}

.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  width: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  border-radius: 50%;
  /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* เงาของรูป */
}

.oneline {
  white-space: nowrap;
}


/* nav bar */

.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  width: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  border-radius: 50%;
  /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* เงาของรูป */
}

.grad {
  background-image: linear-gradient(to bottom right, #217d96, #217d96);
}

.year {
  width: auto;
  line-height: 35px;
  border-radius: 20px;
  background: #066532;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 3px;
  left: -32px;
  padding: 10px;
}

.wrapper-item {
  margin-bottom: 15px;
}


.icon-build{
  position: relative;
  top: -4px;
  left: 5px;
}
