/* *{
    font-family: 'Kanit', sans-serif !important;
} */

.main-timeline {
  overflow: hidden;
  position: relative;
  font-family: 'Kanit', sans-serif !important;
}

.title {
  text-align: left;
  font-size:20px;
}



.main-timeline .timeline:before {
  content: attr(data-heading);
  width: 70px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background: #f1083e;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 3px;
  left: -32px;
}

.main-timeline .timeline:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fae1e4;
  border: 2px solid #3c1525;
  position: absolute;
  bottom: 53px;
  left: -8px;
}

.main-timeline .timeline-content {
  display: block;
  padding: 25px 0px 25px 25px;
  border-radius: 0 70px 70px 0;
  background: #3c1525;
  color: #fff;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-content:before {
  content: "";
  border-bottom: 20px solid transparent;
  border-right: 62px solid #3c1525;
  position: absolute;
  bottom: 14px;
  left: -53px;
  transform: rotate(30deg);
}

.main-timeline .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  /* background: #fff; */
  text-align: center;
  margin: auto;
  font-size: 30px;
  color: #581c22;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
}



.main-timeline .description {
  font-size: 14px;
}

.main-timeline .timeline:nth-child(2n) {
  padding: 50px 50px 10px 50px;
}

.main-timeline .timeline:nth-child(2n):before {
  left: auto;
  right: -40px;
}

.main-timeline .timeline:nth-child(2n):after {
  left: auto;
  right: -10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  border-radius: 70px 0 0 70px;
  padding: 25px 25px 25px 150px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
  border-right: 68px solid #3c1525;
  bottom: 21px;
  left: auto;
  right: -50px;
  transform: rotate(-226deg);
}

.main-timeline .timeline:nth-child(2n) .icon {
  right: auto;
  left: 25px;
}

.main-timeline .timeline:nth-child(2) {
  margin-top: 210px;
}

.main-timeline .timeline:nth-child(odd) {
  margin: -220px 0 50px 0;
}

.main-timeline .timeline:nth-child(even) {
  margin-bottom: 210px;
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even) {
  margin: 0 0 30px 0;
}

.main-timeline .timeline:last-child:nth-child(even) {
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .main-timeline .timeline {
      padding: 50px 0 10px 50px;
  }
  .main-timeline .timeline:nth-child(2n) {
      padding: 50px 50px 10px 0;
  }
  .main-timeline .timeline-content {
      padding: 25px 0px 25px 25px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 25px 25px 25px 130px;
  }
}

@media only screen and (max-width: 990px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(2n) {
      padding-top: 20px;
  }
  .main-timeline .icon {
      right: 0px;
  }
  .main-timeline .timeline:nth-child(2n) .icon {
      left: 15px;
      /* margin-top: -241px; */
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before,
  .main-timeline .timeline:after,
  .main-timeline .timeline .timeline-content:before {
      display: none;
  }
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd) {
      width: 100%;
      float: none;
      padding: 50px 0 0 0;
      margin: 0 0 30px 0;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before {
      left: 0;
      transform: translateX(0);
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 25px 120px 25px 25px;
      border-radius: 0 70px 70px 0;
  }
  .main-timeline .timeline:nth-child(2n) .icon {
      right: 20px;
      left: auto;
  }
}

.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  width: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  border-radius: 50%;
  /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* เงาของรูป */
}

.oneline {
  white-space: nowrap;
}


/* nav bar */

.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  width: auto;
  /* ความสูงปรับให้เป็นออโต้ */
  border-radius: 50%;
  /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* เงาของรูป */
}

.grad {
  background-image: linear-gradient(to bottom right, #217d96, #217d96);
}

.year {
  width: auto;
  line-height: 35px;
  border-radius: 20px;
  background: #066532;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 3px;
  left: -32px;
  padding: 10px;
}

.wrapper-item {
  margin-bottom: 15px;
}


.icon-build{
  position: relative;
  top: -4px;
  left: 5px;
}



/* test */
.coin {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 50px auto;
  transform-style: preserve-3d;
  -webkit-animation: rotate3d 8s linear infinite;
          animation: rotate3d 8s linear infinite;
  transition: all 0.3s;
}

.coin__front,
.coin__back {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e8d0bb;
}
.coin__front:after,
.coin__back:after {
  content: "";
  position: absolute;
  left: -40px;
  bottom: 100%;
  display: block;
  height: 53.3333333333px;
  width: 160px;
  background: #fff;
  opacity: 0.3;
  -webkit-animation: shine linear 4s infinite;
          animation: shine linear 4s infinite;
}

.coin__front {
  background-image: url("../../assets/icon/logo.png");
  background-size: cover;
  transform: translateZ(10px);
}

.coin__back {
  background-image: url("../../assets/icon/logo.png");
  background-size: cover;
  transform: translateZ(-10px) rotateY(180deg);
}

.coin__edge div:nth-child(1) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #3c2714;
  transform: translateY(38.43px) translateX(30px) rotateZ(94.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(2) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #482f18;
  transform: translateY(38.43px) translateX(30px) rotateZ(99deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(3) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #55371d;
  transform: translateY(38.43px) translateX(30px) rotateZ(103.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(4) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #613f21;
  transform: translateY(38.43px) translateX(30px) rotateZ(108deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(5) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #6d4625;
  transform: translateY(38.43px) translateX(30px) rotateZ(112.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(6) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #784e29;
  transform: translateY(38.43px) translateX(30px) rotateZ(117deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(7) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #84552c;
  transform: translateY(38.43px) translateX(30px) rotateZ(121.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(8) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #8e5c30;
  transform: translateY(38.43px) translateX(30px) rotateZ(126deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(9) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #996334;
  transform: translateY(38.43px) translateX(30px) rotateZ(130.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(10) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #a36937;
  transform: translateY(38.43px) translateX(30px) rotateZ(135deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(11) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #ad703a;
  transform: translateY(38.43px) translateX(30px) rotateZ(139.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(12) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #b6763e;
  transform: translateY(38.43px) translateX(30px) rotateZ(144deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(13) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #bf7c41;
  transform: translateY(38.43px) translateX(30px) rotateZ(148.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(14) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #c2824a;
  transform: translateY(38.43px) translateX(30px) rotateZ(153deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(15) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #c58853;
  transform: translateY(38.43px) translateX(30px) rotateZ(157.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(16) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #c88e5b;
  transform: translateY(38.43px) translateX(30px) rotateZ(162deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(17) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #ca9363;
  transform: translateY(38.43px) translateX(30px) rotateZ(166.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(18) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #cd986a;
  transform: translateY(38.43px) translateX(30px) rotateZ(171deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(19) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #cf9d71;
  transform: translateY(38.43px) translateX(30px) rotateZ(175.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(20) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d1a278;
  transform: translateY(38.43px) translateX(30px) rotateZ(180deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(21) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d4a67f;
  transform: translateY(38.43px) translateX(30px) rotateZ(184.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(22) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d6ab85;
  transform: translateY(38.43px) translateX(30px) rotateZ(189deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(23) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d8af8b;
  transform: translateY(38.43px) translateX(30px) rotateZ(193.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(24) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #dab290;
  transform: translateY(38.43px) translateX(30px) rotateZ(198deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(25) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #dbb695;
  transform: translateY(38.43px) translateX(30px) rotateZ(202.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(26) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #ddb99a;
  transform: translateY(38.43px) translateX(30px) rotateZ(207deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(27) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #debd9f;
  transform: translateY(38.43px) translateX(30px) rotateZ(211.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(28) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e0bfa3;
  transform: translateY(38.43px) translateX(30px) rotateZ(216deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(29) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e1c2a7;
  transform: translateY(38.43px) translateX(30px) rotateZ(220.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(30) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e2c4aa;
  transform: translateY(38.43px) translateX(30px) rotateZ(225deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(31) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e3c7ad;
  transform: translateY(38.43px) translateX(30px) rotateZ(229.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(32) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e4c9b0;
  transform: translateY(38.43px) translateX(30px) rotateZ(234deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(33) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e5cab3;
  transform: translateY(38.43px) translateX(30px) rotateZ(238.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(34) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e6ccb5;
  transform: translateY(38.43px) translateX(30px) rotateZ(243deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(35) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e7cdb7;
  transform: translateY(38.43px) translateX(30px) rotateZ(247.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(36) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e7ceb8;
  transform: translateY(38.43px) translateX(30px) rotateZ(252deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(37) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e7cfb9;
  transform: translateY(38.43px) translateX(30px) rotateZ(256.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(38) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e8d0ba;
  transform: translateY(38.43px) translateX(30px) rotateZ(261deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(39) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e8d0bb;
  transform: translateY(38.43px) translateX(30px) rotateZ(265.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(40) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e8d0bb;
  transform: translateY(38.43px) translateX(30px) rotateZ(270deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(41) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e8d0bb;
  transform: translateY(38.43px) translateX(30px) rotateZ(274.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(42) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e8d0ba;
  transform: translateY(38.43px) translateX(30px) rotateZ(279deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(43) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e7cfb9;
  transform: translateY(38.43px) translateX(30px) rotateZ(283.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(44) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e7ceb8;
  transform: translateY(38.43px) translateX(30px) rotateZ(288deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(45) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e7cdb7;
  transform: translateY(38.43px) translateX(30px) rotateZ(292.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(46) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e6ccb5;
  transform: translateY(38.43px) translateX(30px) rotateZ(297deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(47) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e5cab3;
  transform: translateY(38.43px) translateX(30px) rotateZ(301.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(48) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e4c9b0;
  transform: translateY(38.43px) translateX(30px) rotateZ(306deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(49) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e3c7ad;
  transform: translateY(38.43px) translateX(30px) rotateZ(310.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(50) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e2c4aa;
  transform: translateY(38.43px) translateX(30px) rotateZ(315deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(51) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e1c2a7;
  transform: translateY(38.43px) translateX(30px) rotateZ(319.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(52) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #e0bfa3;
  transform: translateY(38.43px) translateX(30px) rotateZ(324deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(53) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #debd9f;
  transform: translateY(38.43px) translateX(30px) rotateZ(328.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(54) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #ddb99a;
  transform: translateY(38.43px) translateX(30px) rotateZ(333deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(55) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #dbb695;
  transform: translateY(38.43px) translateX(30px) rotateZ(337.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(56) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #dab290;
  transform: translateY(38.43px) translateX(30px) rotateZ(342deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(57) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d8af8b;
  transform: translateY(38.43px) translateX(30px) rotateZ(346.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(58) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d6ab85;
  transform: translateY(38.43px) translateX(30px) rotateZ(351deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(59) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d4a67f;
  transform: translateY(38.43px) translateX(30px) rotateZ(355.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(60) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #d1a278;
  transform: translateY(38.43px) translateX(30px) rotateZ(360deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(61) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #cf9d71;
  transform: translateY(38.43px) translateX(30px) rotateZ(364.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(62) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #cd986a;
  transform: translateY(38.43px) translateX(30px) rotateZ(369deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(63) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #ca9363;
  transform: translateY(38.43px) translateX(30px) rotateZ(373.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(64) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #c88e5b;
  transform: translateY(38.43px) translateX(30px) rotateZ(378deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(65) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #c58853;
  transform: translateY(38.43px) translateX(30px) rotateZ(382.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(66) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #c2824a;
  transform: translateY(38.43px) translateX(30px) rotateZ(387deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(67) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #bf7c41;
  transform: translateY(38.43px) translateX(30px) rotateZ(391.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(68) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #b6763e;
  transform: translateY(38.43px) translateX(30px) rotateZ(396deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(69) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #ad703a;
  transform: translateY(38.43px) translateX(30px) rotateZ(400.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(70) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #a36937;
  transform: translateY(38.43px) translateX(30px) rotateZ(405deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(71) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #996334;
  transform: translateY(38.43px) translateX(30px) rotateZ(409.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(72) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #8e5c30;
  transform: translateY(38.43px) translateX(30px) rotateZ(414deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(73) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #84552c;
  transform: translateY(38.43px) translateX(30px) rotateZ(418.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(74) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #784e29;
  transform: translateY(38.43px) translateX(30px) rotateZ(423deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(75) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #6d4625;
  transform: translateY(38.43px) translateX(30px) rotateZ(427.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(76) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #613f21;
  transform: translateY(38.43px) translateX(30px) rotateZ(432deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(77) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #55371d;
  transform: translateY(38.43px) translateX(30px) rotateZ(436.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(78) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #482f18;
  transform: translateY(38.43px) translateX(30px) rotateZ(441deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(79) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #3c2714;
  transform: translateY(38.43px) translateX(30px) rotateZ(445.5deg) translateX(40px) rotateY(90deg);
}
.coin__edge div:nth-child(80) {
  position: absolute;
  height: 3.14px;
  width: 20px;
  background: #2e1e10;
  transform: translateY(38.43px) translateX(30px) rotateZ(450deg) translateX(40px) rotateY(90deg);
}

.coin__shadow {
  position: absolute;
  width: 80px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 100px 100px #000;
  opacity: 0.125;
  transform: rotateX(90deg) translateZ(-88px) scale(0.5);
}

@-webkit-keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
@-webkit-keyframes shine {
  0%, 15% {
    transform: translateY(160px) rotate(-40deg);
  }
  50% {
    transform: translateY(-80px) rotate(-40deg);
  }
}
@keyframes shine {
  0%, 15% {
    transform: translateY(160px) rotate(-40deg);
  }
  50% {
    transform: translateY(-80px) rotate(-40deg);
  }
}
