<nav class="navbar navbar-expand-lg navbar-dark grad">
    <a class="navbar-brand w-50" href="#">
        <span class=""><img class="w-25 circle" src="http://164.115.41.179/d756/sites/default/files/styles/event_list/public/events/aopnoPvF.png?itok=l1MnCFC9" /></span> CLINIC TRACKING
    </a>


</nav>

<div class="container">
    <!-- <h2>Hi {{ResultSearch}}</h2> -->

    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline" data-heading="2018">
                    <a href="#" class="timeline-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-9">
                                    <div class="inner-content">
                                        <h1 class="title text font-weight-bold text-warning">ประวัติการตรวจ</h1>
                                        <div *ngFor="let item of ResultSearch | keyvalue">

                                            <ng-container *ngIf="item.key ==='ImageUrl';else second">
                                                <b><img class="w-100 border border-white" src={{item.value}}/></b>
                                            </ng-container>
                                            <ng-template #second>
                                                <div class="oneline">
                                                    <span *ngIf="item.key ==='Clinicname'">ชื่อคลินิค  :</span>
                                                    <span *ngIf="item.key ==='Customername'">ชื่อผู้ประกอบการ  :</span>
                                                    <span *ngIf="item.key ==='Address'">ที่อยู่ :</span>
                                                    <span *ngIf="item.key ==='Operatorname'">ผู้ปฏิบัติงาน  :</span>
                                                    <span *ngIf="item.key ==='Status'">สถานะ  :</span>

                                                    <!-- <b>{{item.key}}</b> : -->
                                                    <b *ngIf="!(item.key === 'Id' || item.key === 'Latitude' || item.key === 'Longitude')">{{item.value}}</b></div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <span class="icon"><img class="w-50 circle" src="http://164.115.41.179/d756/sites/default/files/styles/event_list/public/events/aopnoPvF.png?itok=l1MnCFC9"/></span>

                                </div>
                            </div>
                        </div>




                    </a>
                </div>
                <div class="timeline" data-heading="2017">
                    <a href="#" class="timeline-content">
                        <span class="icon"><img class="w-50 circle" src="http://164.115.41.179/d756/sites/default/files/styles/event_list/public/events/aopnoPvF.png?itok=l1MnCFC9"/></span>
                        <div class="inner-content">
                            <h3 class="title">ตรวจครั้งที่ 1</h3>
                            <strong><h4 class=" text-danger">
                                ไม่ผ่านการ 
                            </h4></strong>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-googlemap></app-googlemap>