<!-- <app-survey [message]="message"></app-survey> -->
<div class="form-bg">
    <div class="">
        <div class="">
            <div class="col-md-offset-3">
                <form class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <nav class="navbar navbar-expand-lg navbar-dark grad">
                        <a class="navbar-brand w-50" href="#">
                            <span class=""><img class="w-25 circle" src="http://164.115.41.179/d756/sites/default/files/styles/event_list/public/events/aopnoPvF.png?itok=l1MnCFC9"/></span> CLINIC TRACKING
                        </a>
                    </nav>

                    <div class="form-content">
                        <h4 class="heading font-weight-bold">ค้นหาประวัติ</h4>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>

                                <input placeholder="ชื่อคลินิก" type="text" class="form-control" name="Clinicname" [(ngModel)]="model.Clinicname" #Clinicname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Clinicname.invalid }" />
                                <div *ngIf="f.submitted && Clinicname.invalid" class="invalid-feedback">
                                    <div *ngIf="Clinicname.errors.required">Clinic Name is required</div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>

                                <input placeholder="ชื่อผู้ประกอบการ" type="text" class="form-control" name="Customername" [(ngModel)]="model.Customername" #Customername="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Customername.invalid }" />
                                <div *ngIf="f.submitted && Customername.invalid" class="invalid-feedback">
                                    <div *ngIf="Customername.errors.required">Customername is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>

                                <input placeholder="ชื่อผู้ดำเนินการ" type="text" class="form-control" name="Operatorname" [(ngModel)]="model.Operatorname" #Operatorname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Operatorname.invalid }" />
                                <div *ngIf="f.submitted && Operatorname.invalid" class="invalid-feedback">
                                    <div *ngIf="Operatorname.errors.required">Operatorname is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <input placeholder="สถานที่" type="text" class="form-control" name="Address" [(ngModel)]="model.Address" #Address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" />
                                <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                                    <div *ngIf="Address.errors.required">Address is required</div>
                                </div>
                            </div>



                            <div class="clearfix">
                                <button type="submit" class="button"> ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<div>

</div>
<h2>{{Clinicnames}}</h2>
<!-- <ul>
    <li *ngFor="let item of searctServiceData">{{item.title}}</li>
</ul> -->

<!-- <app-survey></app-survey>
<br>
<app-googlemap></app-googlemap>
 -->