<!-- <app-survey [message]="message"></app-survey> -->
<div class="form-bg">
    <div class="">
        <div class="">
            <div class="col-md-offset-3">
                <form class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <nav class="navbar navbar-expand-lg navbar-dark grad">
                        <a class="navbar-brand w-50 text-white">
                            <span class="">
                                    <!-- <img class="mr-3" src="../assets/icon/iconback.png" /> -->
                                    <img class="w-25 circle" src="../assets/icon/logo.png" />
                            </span> CLINIC TRACKING
                        </a>
                    </nav>

                    <div class="form-content">
                        <h4 class="heading font-weight-bold ">ค้นหาประวัติ</h4>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>

                                <input placeholder="ชื่อคลินิก" type="text" class="form-control" name="Clinicname" [(ngModel)]="model.Clinicname" #Clinicname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Clinicname.invalid }" />
                                <div *ngIf="f.submitted && Clinicname.invalid" class="invalid-feedback">
                                    <div *ngIf="Clinicname.errors.required">Clinic Name is required</div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>

                                <input placeholder="ชื่อผู้ประกอบการ" type="text" class="form-control" name="Customername" [(ngModel)]="model.Customername" #Customername="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Customername.invalid }" />
                                <div *ngIf="f.submitted && Customername.invalid" class="invalid-feedback">
                                    <div *ngIf="Customername.errors.required">Customername is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>

                                <input placeholder="ชื่อผู้ดำเนินการ" type="text" class="form-control" name="Operatorname" [(ngModel)]="model.Operatorname" #Operatorname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Operatorname.invalid }" />
                                <div *ngIf="f.submitted && Operatorname.invalid" class="invalid-feedback">
                                    <div *ngIf="Operatorname.errors.required">Operatorname is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>

                                <!-- <select placeholder="ประเภทคลินิก" [value]='46' class="form-control" name="Clinictype" [(ngModel)]="model.Clinictype" #Operatorname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Clinictype.invalid }">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="fiat">Fiat</option>
                                    <option value="audi">Audi</option>
                                </select> -->
                                <select class='form-control' (change)="selectClinicTypeChangeHandler($event)">
                                    <option value="" disabled selected hidden>ประเภทคลินิก</option>
                                    <option value='T1'>เวชกรรม</option>
                                    <option value='T2'>เวชกรรมเฉพาะทาง</option>
                                    <option value='T3'>ทันตกรรม</option>
                                    <option value='T4'>ทันตกรรมเฉพาะทาง</option>
                                    <option value='T5'>พยาบาลและการผดุงครรภ์</option>
                                    <option value='T6'>กายภาพบำบัด</option>
                                    <option value='T7'>เทคนิกการแพทย์</option>
                                    <option value='T8'>แพทย์แผนไทย</option>
                                    <option value='T9'>แพทย์แผนไทยประยุกต์</option>
                                    <option value='T10'>แพทย์แผนจีน</option>
                                    <option value='T11'>สหคลินิก</option> 
                                </select>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <select required class='form-control' (change)="selectDistrictChangeHandler($event)">
                                    <option value="" disabled selected hidden>อำเภอ</option>
                                    <option value='D1'>เมือง</option>
                                    <option value='D2'>ไชโย</option>
                                    <option value='D3'>ป่าโมก</option>
                                    <option value='D4'>โพธิ์ทอง</option>
                                    <option value='D5'>แสวงหา</option>
                                    <option value='D6'>วิเศษชัยชาญ</option>
                                    <option value='D7'>สามโก้</option> 
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <select required class='form-control' (change)="selectYearChangeHandler($event)">
                                        <option value="" disabled selected hiddsen>ปีที่ได้รับอนุญาต</option> 
                                        <option value='2540'>2540</option>
                                        <option value='2541'>2541</option>
                                        <option value='2542'>2542</option>
                                        <option value='2543'>2543</option>
                                        <option value='2544'>2544</option>
                                        <option value='2545'>2545</option>
                                        <option value='2546'>2546</option>
                                        <option value='2547'>2547</option>
                                        <option value='2548'>2548</option>
                                        <option value='2549'>2549</option>
                                        <option value='2550'>2550</option>
                                        <option value='2551'>2551</option>
                                        <option value='2552'>2552</option>
                                        <option value='2553'>2553</option>
                                        <option value='2554'>2554</option>
                                        <option value='2555'>2555</option> 
                                        <option value='2556'>2556</option>
                                        <option value='2557'>2557</option>
                                        <option value='2558'>2558</option>
                                        <option value='2559'>2559</option>
                                        <option value='2560'>2560</option>
                                        <option value='2561'>2561</option>
                                        <option value='2562'>2562</option>
                                    </select>
                            </div>
                            <!-- <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <input placeholder="ปีที่ได้รับอนุญาต" type="text" class="form-control" name="Address" [(ngModel)]="model.Address" #Address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" />
                                <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                                    <div *ngIf="Address.errors.required">Address is required</div>
                                </div>
                            </div> -->

                            <!-- <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <input placeholder="สถานที่" type="text" class="form-control" name="Address" [(ngModel)]="model.Address" #Address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" />
                                <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                                    <div *ngIf="Address.errors.required">Address is required</div>
                                </div>
                            </div> -->
                            <div class="clearfix">
                                <button type="submit" class="button"> ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<div>

</div>
<h2>{{Clinicnames}}</h2>
<!-- <ul>
    <li *ngFor="let item of searctServiceData">{{item.title}}</li>
</ul> -->

<!-- <app-survey></app-survey>
<br>
<app-googlemap></app-googlemap>
 -->