<!-- <app-survey [message]="message"></app-survey> -->
<div class="form-bg">
    <div class="">
        <div class="">
            <div class="col-md-offset-3">
                <form class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <nav class="navbar navbar-expand-lg navbar-dark grad">
                        <a class="navbar-brand w-50 text-white">
                            <span class="">
                                    <!-- <img class="mr-3" src="../assets/icon/iconback.png" /> -->
                                    <img class="w-25 circle" src="../assets/icon/logo.png" />
                            </span> CLINIC TRACKING
                        </a>
                    </nav>

                    <div class="form-content">
                    
                        <div class="year animated zoomInRight"> สถานพยาบาลในจังหวัดอ่างทอง ทั้งหมด <span class="animated zoomInRight">{{persons.length}}</span> แห่ง<span class="p-2">    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-broadcast-pin" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
                          </svg></span></div>
                    
                        <h4 class="heading font-weight-bold ">   <span class="text-dark  p-3"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                          </svg></span>ค้นหาประวัติ</h4>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label text-dark" for="exampleInputName2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                    <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                  </svg></label>

                                <input placeholder="ชื่อคลินิก" type="text" class="form-control" name="Clinicname" [(ngModel)]="model.Clinicname" #Clinicname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Clinicname.invalid }" />
                                <div *ngIf="f.submitted && Clinicname.invalid" class="invalid-feedback">
                                    <div *ngIf="Clinicname.errors.required">Clinic Name is required</div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <label class="control-label text-dark" for="exampleInputName2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755S12 12 8 12s-5 1.755-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                                  </svg></label>

                                <input placeholder="ชื่อผู้ประกอบการ" type="text" class="form-control" name="Customername" [(ngModel)]="model.Customername" #Customername="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Customername.invalid }" />
                                <div *ngIf="f.submitted && Customername.invalid" class="invalid-feedback">
                                    <div *ngIf="Customername.errors.required">Customername is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label text-dark" for="exampleInputName2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                                    <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path d="M8 12c4 0 5 1.755 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12z"/>
                                  </svg></label>

                                <input placeholder="ชื่อผู้ดำเนินการ" type="text" class="form-control" name="Operatorname" [(ngModel)]="model.Operatorname" #Operatorname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Operatorname.invalid }" />
                                <div *ngIf="f.submitted && Operatorname.invalid" class="invalid-feedback">
                                    <div *ngIf="Operatorname.errors.required">Operatorname is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label text-dark" for="exampleInputName2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-ui-radios" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM0 12a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm7-1.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                                    <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zM3 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm0 4.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                  </svg></label>

                                <!-- <select placeholder="ประเภทคลินิก" [value]='46' class="form-control" name="Clinictype" [(ngModel)]="model.Clinictype" #Operatorname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Clinictype.invalid }">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="fiat">Fiat</option>
                                    <option value="audi">Audi</option>
                                </select> -->
                                <select class='form-control' (change)="selectClinicTypeChangeHandler($event)">
                                    <option value="" disabled selected hidden>ประเภทคลินิก</option>
                                    <option value='T1'>เวชกรรม</option>
                                    <option value='T2'>เวชกรรมเฉพาะทาง</option>
                                    <option value='T3'>ทันตกรรม</option>
                                    <option value='T4'>ทันตกรรมเฉพาะทาง</option>
                                    <option value='T5'>พยาบาลและการผดุงครรภ์</option>
                                    <option value='T6'>กายภาพบำบัด</option>
                                    <option value='T7'>เทคนิกการแพทย์</option>
                                    <option value='T8'>แพทย์แผนไทย</option>
                                    <option value='T9'>แพทย์แผนไทยประยุกต์</option>
                                    <option value='T10'>แพทย์แผนจีน</option>
                                    <option value='T11'>สหคลินิก</option> 
                                </select>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label text-dark" for="exampleInputName2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                                  </svg></label>
                                <select required class='form-control' (change)="selectDistrictChangeHandler($event)">
                                    <option value="" disabled selected hidden>อำเภอ</option>
                                    <option value='D1'>เมือง</option>
                                    <option value='D2'>ไชโย</option>
                                    <option value='D3'>ป่าโมก</option>
                                    <option value='D4'>โพธิ์ทอง</option>
                                    <option value='D5'>แสวงหา</option>
                                    <option value='D6'>วิเศษชัยชาญ</option>
                                    <option value='D7'>สามโก้</option> 
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label text-dark"  for="exampleInputName2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                                  </svg></label>
                                <select required class='form-control' (change)="selectYearChangeHandler($event)">
                                        <option value="" disabled selected hiddsen>ปีที่ได้รับอนุญาต</option> 
                                        <option value='2540'>2540</option>
                                        <option value='2541'>2541</option>
                                        <option value='2542'>2542</option>
                                        <option value='2543'>2543</option>
                                        <option value='2544'>2544</option>
                                        <option value='2545'>2545</option>
                                        <option value='2546'>2546</option>
                                        <option value='2547'>2547</option>
                                        <option value='2548'>2548</option>
                                        <option value='2549'>2549</option>
                                        <option value='2550'>2550</option>
                                        <option value='2551'>2551</option>
                                        <option value='2552'>2552</option>
                                        <option value='2553'>2553</option>
                                        <option value='2554'>2554</option>
                                        <option value='2555'>2555</option> 
                                        <option value='2556'>2556</option>
                                        <option value='2557'>2557</option>
                                        <option value='2558'>2558</option>
                                        <option value='2559'>2559</option>
                                        <option value='2560'>2560</option>
                                        <option value='2561'>2561</option>
                                        <option value='2562'>2562</option>
                                    </select>
                            </div>
                            <!-- <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <input placeholder="ปีที่ได้รับอนุญาต" type="text" class="form-control" name="Address" [(ngModel)]="model.Address" #Address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" />
                                <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                                    <div *ngIf="Address.errors.required">Address is required</div>
                                </div>
                            </div> -->

                            <!-- <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-lock"></i></label>
                                <input placeholder="สถานที่" type="text" class="form-control" name="Address" [(ngModel)]="model.Address" #Address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" />
                                <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                                    <div *ngIf="Address.errors.required">Address is required</div>
                                </div>
                            </div> -->
                            <div class="clearfix">
                                <button type="submit" class="button"> ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<div>

</div>
<h2>{{Clinicnames}}</h2>
<!-- <ul>
    <li *ngFor="let item of searctServiceData">{{item.title}}</li>
</ul> -->

<!-- <app-survey></app-survey>
<br>
<app-googlemap></app-googlemap>
 -->